body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header, #sidebar, #preview, #bim-quality-panel {
    position: absolute;
    overflow: hidden; /* Evitar desbordamiento */
    box-sizing: border-box;
}

#header {
    top: 0;
    left: 0;
    height: 8vh; /* Altura relativa a la ventana */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #252529;
    color: #c7c7cc;
    padding: 0 1vw; /* Espaciado horizontal relativo */
}

#sidebar {
    width: 20vw; /* Ancho relativo */
    left: 0;
    top: 8vh; /* Debajo del header */
    bottom: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #3b3b3f;
    color: #c7c7cc;
}

#sidebar * {
    overflow: visible;
    white-space: nowrap;
}

#preview {
    top: 8vh; /* Debajo del header */
    left: 20vw; /* Junto al sidebar */
    right: 25vw; /* Antes del panel de calidad */
    bottom: 0;
    background-color: #f8f8f8;
}

#preview .overlay-text {
    position: absolute;
    top: 05px;
    left: 10px;
    text-align: left;
    z-index: 1000;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.8);
    display: none; /* Oculto inicialmente */
}

#preview .overlay-text hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    margin: 5px 0;
    width: 100%;
}

#preview .overlay-text span {
    font-size: 12px; /* Tamaño más pequeño para el texto de copyright */
    font-weight: normal; /* Peso de fuente reducido */
    display: block; /* Asegura que esté en una nueva línea */
    margin-top: 10px; /* Espaciado superior */
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
}

#login {
    font-family: ArtifaktElement;
    font-size: 1em;
    background-color: #3b3b3f;
    color: #c7c7cc;
}

#header .title {    
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1.8em;
    color: #ffffff;
    font-weight: normal;
    margin-left: 0;
    white-space: nowrap;
}

#header .digital {
    font-weight: bold;
    color: #ffffff;
}

#header .dot {
    color: #008768;
    margin: 0 0.2em;
}

#header .twins {
    font-weight: bold;
    color: #ffffff;
}

#header .sensors {
    font-weight: normal;
    color: #008768;
    margin-left: 0.3em;
}



#tree {
    margin: 0.5em;
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 3em;
        bottom: 75%;
    }

    #preview {
        width: 100%;
        top: 25%;
        bottom: 0;
    }
}

.icon-hub:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/apps-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/stack-16.svg */
    background-size: cover;
}

.icon-project:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/project-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/organization-16.svg */
    background-size: cover;
}

.icon-my-folder:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-directory-16.svg);
    background-size: cover;
}

.icon-item:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-16.svg);
    background-size: cover;
}

.icon-version:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/clock-16.svg);
    background-size: cover;
}

#bim-quality-panel {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 25vw;
    height: calc(100% - 8vh); /* Altura total menos el header */
    padding: 10px; /* Ajusta el padding general */
    background-color: #3b3b3f;
    z-index: 3000;
    display: flex;
    flex-direction: column; /* Asegura que los hijos se apilen verticalmente */
    gap: 10px; /* Espaciado entre elementos */
}

#progress-chart {
    height: 35%; /* El gráfico ocupa el 35% del espacio total */
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#empty-params-panel {
    flex: 1; /* Ocupa el resto del espacio disponible */
    max-height: 65%; /* Asegura que no sobrepase el 65% del panel */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow-y: auto; /* Scroll vertical si el contenido excede el espacio */
}



.hidden-panel {
    
}

#progress-chart {
    display: block;
    height: 90%;
    background-color: white;
    /* sin margin aquí */
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.temperature-marker {
    background-color: white;
    color: blue;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    pointer-events: auto;
}

label.markup {
    position: absolute;
    white-space: nowrap;
    cursor: pointer;
}

label.update {
    z-index: 1;
}

.temperatureBorder {
    background-color: rgba(256, 256, 256, 0.6);
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
}



.temperatureHigh {
    font-size: 18px;
    color: red;
}

.temperatureYellow {
    font-size: 18px;
    color: orange;
}


.temperatureOk {
    font-size: 17px;
    color: green;
}

.temperatureBlue {
    font-size: 18px;
    color: cyan;
}



.temperatureLow {
    font-size: 18px;
    color: blue;
}


.maintenance {
    font-size: 20px;
    color: gray;
}
